[Unit]
Description=Simple SSH Tunnel Controller
After=network.target

[Service]
Type=simple
ExecStart=/usr/lib/territo/territo
WorkingDirectory=/usr/lib/territo
Restart=on-failure
RestartSec=5

User=territo
Group=territo

# Helpful for debugging panics
Environment=GOTRACEBACK=all

# Logging
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
